.secondary {
    background-color:rgb(244, 212, 212);
    padding: 10px 20px;
    width: 200px;
}

.viewalldonations {
    margin-left: auto;
    margin-right: auto;
}

thead{
    position:sticky;
}

.primary {
    position: sticky;
    background-color: white;
    padding: 10px 20px;
    width: 200px;
}

